<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />

    <permission
        android:name="lightly.tool.plugin.webrtc.permission.BIND_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:fullBackupContent="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lightly 远程语音插件"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.LightlyVoicePlugin">
        <meta-data
            android:name="lightly.plugin.API_VERSION"
            android:value="2" />
        <meta-data
            android:name="lightly.plugin.FEATURE_ID"
            android:value="webrtc_voice" />

        <service
            android:name=".WebRtcVoicePluginService"
            android:exported="true"
            android:permission="lightly.tool.plugin.webrtc.permission.BIND_SERVICE">
            <intent-filter>
                <action android:name="lightly.tool.plugin.webrtc.BIND" />
            </intent-filter>
        </service>

        <activity
            android:name=".AudioPermissionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="lightly.tool.plugin.webrtc.permission.BIND_SERVICE"
            android:theme="@style/Theme.LightlyVoicePlugin.Permission" />

        <activity
            android:name=".PluginBootstrapActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="lightly.tool.plugin.webrtc.permission.BIND_SERVICE"
            android:theme="@style/Theme.LightlyVoicePlugin.Permission" />
    </application>
</manifest>
