<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="lightly.tool.plugin.telegram.permission.BIND_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:fullBackupContent="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lightly TG 插件"
        android:roundIcon="@mipmap/ic_launcher_round">
        <meta-data
            android:name="lightly.plugin.API_VERSION"
            android:value="2" />
        <meta-data
            android:name="lightly.plugin.FEATURE_ID"
            android:value="telegram" />

        <service
            android:name=".TelegramPluginService"
            android:exported="true"
            android:permission="lightly.tool.plugin.telegram.permission.BIND_SERVICE">
            <intent-filter>
                <action android:name="lightly.tool.plugin.telegram.BIND" />
            </intent-filter>
        </service>

        <activity
            android:name=".PluginBootstrapActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="lightly.tool.plugin.telegram.permission.BIND_SERVICE"
            android:theme="@style/Theme.LightlyTelegramPlugin.Bootstrap" />
    </application>
</manifest>
